* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: linear-gradient(90deg, #333, #444);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.logo img {
    max-width: 150px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

nav ul li a:hover {
    background: #ff4081;
}

.hero {
    height: 400px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero img {
    max-width: 100%;
    height: auto;
    border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Efeito de sombra */
}

.hero h2 {
    font-size: 40px; /* Usando px */
}

.about, .members {
    padding: 20px; /* Menos espaçamento */
    text-align: center;
}

.about h2, .members h2 {
    font-size: 32px; /* Usando px */
    margin-bottom: 10px; /* Menos espaçamento */
    color: #ff4081; /* Título rosa */
}

.member-grid {
    display: flex;
    justify-content: center;
}

.member {
    text-align: center;
    border: 2px solid #ff4081;
    background-color: #1a1a1a;
    padding: 15px; /* Menos espaçamento */
    border-radius: 10px;
    margin: 10px; /* Menos espaçamento entre membros */
    transition: transform 0.3s;
    width: 300px;
}

.member:hover {
    transform: scale(1.05);
}

.member img {
    width: 150px; /* Tamanho da imagem */
    height: 150px; /* Tamanho da imagem */
    border-radius: 50%;
}

.news {
    padding: 100px; /* Menos espaçamento */
    text-align: center;
    margin: 1rem 0; /* Menos espaço acima e abaixo */
    border-radius: 8px;
}

.news article {
    margin: 0.5rem 0; /* Menos espaçamento */
    padding: 10px; /* Menos espaçamento */
    background-color: #333;
    border-radius: 20px;
    border: 2px solid #ff4081;
}

.more-news {
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 5px 10px; /* Menos espaçamento */
    font-size: 16px; /* Usando px */
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin-top: 5px; /* Menos espaço acima do botão */
}

.more-news:hover {
    background-color: #e91e63;
}

.new-music {
    margin: 20px 0; /* Menos espaço acima e abaixo da imagem */
}

.new-music img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    width: 300px;
    height: 300px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-top: auto;
}

.social-icons img {
    width: 30px;
    margin: 0 5px; /* Menos espaçamento */
}
