* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: linear-gradient(90deg, #333, #444);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.logo img {
    max-width: 150px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 15px;
    flex-wrap: wrap;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

nav ul li a:hover {
    background: #ff4081;
}

.hero {
    height: 400px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.hero h2 {
    font-size: 40px;
}

.about, .members {
    padding: 20px;
    text-align: center;
}

.about h2, .members h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #ff4081;
}

.member-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.member {
    text-align: center;
    border: 2px solid #ff4081;
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s;
}

.member:hover {
    transform: scale(1.05);
}

.member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.news {
    padding: 20px;
    text-align: center;
    margin: 1rem 0;
}

.news article {
    margin: 10px auto;
    padding: 15px;
    background-color: #333;
    border-radius: 20px;
    border: 2px solid #ff4081;
    max-width: 90%;
}

.new-music {
    margin: 20px 0;
}

.new-music img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    width: 300px;
    height: 300px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-top: auto;
}

.social-icons img {
    width: 30px;
    margin: 0 5px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .hero {
        height: auto;
        padding: 20px;
    }

    .hero h2 {
        font-size: 28px;
    }

    .member-grid {
        flex-direction: column;
        align-items: center;
    }

    .member img {
        width: 130px;
        height: 130px;
    }

    .about h2, .members h2 {
        font-size: 26px;
    }

    .news {
        padding: 10px;
    }

    .news article {
        width: 100%;
        max-width: 100%;
    }

    .new-music img {
        width: 90%;
        height: auto;
    }
}